<?php
class DATABASE_CONFIG {
	var $default = array(
		'driver' => 'mysqli',
		'persistent' => false,
		'host' => 'localhost',
		'login' => 'redmine',
		'password' => 'redmine',
		'database' => 'redmine',
		'prefix' => '',
        'encoding' => 'utf8'
	);
}